.menu-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8vw;
    margin-top: 8vh;
}

.menu-item p{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    text-shadow: 0 0 8px #222222;
}

.menu-item p:hover {
    transition: 0.3s;
    filter: drop-shadow(0 0 16px #3f3f3f) drop-shadow(0 0 32px #202020);
}

.menu-item img {
    width: 15vw;
    height: auto;
    margin-bottom: 1.2rem;
}

.center {
    margin-top: -10vh;
}

.menu-section {
    padding: 5vh 0;
}

.menu-item a {
    text-decoration: none !important;
    color: inherit;
}

section {
        filter: drop-shadow(0 0 32px #333333ab);
}

.menu-item:hover {
    transition: 0.6s;
    scale: 1.10;
}

.menu-item{
    transition: 0.6s;
}

@media (max-width: 700px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
        gap: 8vh;
    }

    .menu-item {
        width: 100%;
        text-align: center;
    }

    .menu-item img {
        width: 50vw; /* Adjust for smaller screens */
    }

    .center {
    margin-top: 0vh;
}
}